:root {
  --background: var(--neutral-100);
  --surface-soft: var(--neutral-200);
  --foreground: var(--neutral-700);

  /* Text Hierarchy */
  --text-hero: var(--neutral-700);
  --text-title: var(--neutral-600);
  --announcement: var(--neutral-500);

  /* UI Elements */
  --primary: var(--raw-black);
  --primary-foreground: var(--neutral-100);
  --muted: var(--neutral-200);
  --muted-foreground: var(--neutral-400);
  --border: var(--neutral-300);

  --accent: var(--blue-500);
  --accent-foreground: var(--raw-white);
}

.dark {
  --background: var(--neutral-700);
  --surface-soft: var(--neutral-500);
  --foreground: var(--neutral-100);

  --text-hero: var(--neutral-100);
  --text-title: var(--neutral-200);
  --text-announcement: var(--neutral-300);

  --primary: var(--raw-black);
  --primary-foreground: var(--neutral-100);

  --border: var(--neutral-600);

  --muted: var(--neutral-600);
  --muted-foreground: var(--neutral-400);

  --border: var(--neutral-500);

  --accent: var(--blue-500);
}
