:root {
  /* --- Typography Families --- */
  --ff-primary: 'Poppins', 'Cairo', sans-serif;

  /* --- Typography Weights --- */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* --- Typography Scale (rem) --- */
  --fs-hero: 6rem;
  --fs-h1: 5rem;
  --fs-h2: 4.5rem;
  --fs-h3: 3.375rem;
  --fs-h4: 2.5rem;
  --fs-h5: 2rem;
  --fs-h6: 1.5rem;
  --fs-h7: 1.125rem;

  /* --- Body Scale --- */
  --fs-body-xl: 1.625rem;
  --fs-body-lg: 1.375rem;
  --fs-body-md: 1.25rem;
  --fs-body-base: 1.125rem;
  --fs-body-sm: 1rem;
  --fs-body-xs: 0.875rem;
  --fs-body-tiny: 0.75rem;

  /* --- Line Heights --- */
  --lh-hero: 1;
  --lh-tight: 1.2;
  --lh-normal: 1.5;

  /* --- Raw Color Palette (The "Source") --- */
  --raw-black: #000000;
  --raw-white: #fefefe;

  --blue-500: #377dff;
  --green-500: #38cb89;
  --orange-500: #ffab00;
  --red-500: #ff5630;

  --neutral-100: #fefefe;
  --neutral-200: #f3f5f7;
  --neutral-300: #e8ecef;
  --neutral-400: #6c7275;
  --neutral-500: #343839;
  --neutral-600: #232627;
  --neutral-700: #141718;
}
